.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# config files
config.yml
scratch

# pypi 
.pypirc
.pypirc-test
.pypirc*
*~
*.txt

archive

fenixvenv/lib64
fenixvenv/pyvenv.cfg
fenixvenv/bin/activate
fenixvenv/bin/activate.csh
fenixvenv/bin/activate.fish
fenixvenv/bin/Activate.ps1
fenixvenv/bin/base58
fenixvenv/bin/black
fenixvenv/bin/blackd
fenixvenv/bin/boltz
fenixvenv/bin/cashu
fenixvenv/bin/dotenv
fenixvenv/bin/ghp-import
fenixvenv/bin/griffe
fenixvenv/bin/httpx
fenixvenv/bin/identify-cli
fenixvenv/bin/less2scss
fenixvenv/bin/lnbits
fenixvenv/bin/markdown_py
fenixvenv/bin/mkdocs
fenixvenv/bin/nodeenv
fenixvenv/bin/normalizer
fenixvenv/bin/pip
fenixvenv/bin/pip3
fenixvenv/bin/pip3.10
fenixvenv/bin/pre-commit
fenixvenv/bin/py.test
fenixvenv/bin/pybabel
fenixvenv/bin/pygmentize
fenixvenv/bin/pyscss
fenixvenv/bin/pytest
fenixvenv/bin/python
fenixvenv/bin/python3
fenixvenv/bin/python3.10
fenixvenv/bin/shortuuid
fenixvenv/bin/uvicorn
fenixvenv/bin/virtualenv
fenixvenv/bin/watchmedo
fenixvenv/bin/wheel
fenixvenv/bin/wsdump
.gitignore
tests/test_userwallet.py
