aiohttp==3.7.4.post0
appdirs==1.4.4
astroid==2.5.6
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
black==21.5b2
certifi==2021.5.30
cfgv==3.3.0
chardet==4.0.0
click==8.0.1
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
identify==2.2.7
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
-e git+git@github.com:lightningames/lnbitsbot.git@161dcd2993cc84c11f252a31c265b1285eeb0656#egg=lnbitsbot
mccabe==0.6.1
multidict==5.1.0
-e git+git@github.com:lightningames/lnbitsbot.git@161dcd2993cc84c11f252a31c265b1285eeb0656#egg=myproject
mypy-extensions==0.4.3
nodeenv==1.6.0
pathspec==0.8.1
pre-commit==2.13.0
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.8.3
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
virtualenv==20.4.7
wrapt==1.12.1
yarl==1.6.3
